:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
            --iris: #4d5ae5;
            --ocean: #404bbf;
            --navy-blue: #2e2f42;
            --green: #31d0aa;
            --slate: #434455;
            --light-slate: #8e8f99;
            --cornflower: #e7e9fc;
            --cloud: #f4f4fd;
            --navy-blue-modal: rgba(46, 47, 66, 0.4);
            --grey: rgba(46, 47, 66, 0.7);
            --white: #fff;
            --dairy: #fcfcfc;
}
body {
    font-family:var(--font-family);
    color:var(--slate);
    background-color:var(--white);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.logo {
    font-family: "Raleway",
        sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-studio {
    color: #2e2f42;
}
.a-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.002em;
    color: #2e2f42;
}
.a-studio :hover {
    color: #404bbf;
}
.a-studio :focus {
    color: #404bbf;
}
.adressa {
    font-style: normal;
}
.email {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
.email :hover {
    color: #404bbf;
}
.email :focus {
    color: #404bbf;
}
.s-title {
    background-color: #2e2f42;
}
.button-service {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button-service :hover {
    color: #404BBF;
}
.button-service :focus {
    color: #404BBF;
}
.h-strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.s-paragraph {
    font-size: ;
    line-height: ;
    letter-spacing: ;
    color: #434455;
}
.our-team {
    background-color: #F4F4FD;
}
.h-ourteam {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.li-team {
    background-color: #FFFFFF;
}
.team-mark {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-landing {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.h-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.banking-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}











.business {
    font-family: var(--font-family
    );
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white);
        background-color: var(--navy-blue);
}

.spdt li {
    width: 264px;
    height: 104px;
}

.team li {
    border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
        text-align: center;
}

.basement {
    width: 1440px;
    height: 312px;
    background-color: var(--navy-blue);
    text-align: left;
}